 <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/fontawesome/4.7.0/css/fontawesome.min.css" />
<script src="/static/lib/jquery/2.1.4/jquery.min.js"></script> 
<script src="/static/lib/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/lib/layer/3.1.1/layer.min.js"></script>
<script src="/static/lib/laydate/5.0.9/laydate.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/WMP/css/style.min.css" />
<script src="/static/WMP/js/WMP.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/lib/icheck/1.0.2/skins/custom.min.css" />
<script src="/static/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script src="/static/lib/icheck/1.0.2/icheck.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/lib/select2/4.0.6/css/select2.min.css" />
<script src="/static/lib/select2/4.0.6/js/select2.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/lib/zTree/v3/css/metroStyle/metroStyle.min.css" />
<script src="/static/lib/zTree/v3/js/ztree.min.js"></script>
 