 
 {% extends "share/_layout.html" %}
 {% block content %}
<script src="/static/WMP/js/WMP-data.min.js"></script>
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="logo">
                        <img src="/static/image/logo_2.png" class="logo" />
                    </li>
                    <li class="nav-header">
                        <div class="dropdown profile-element clear">
                            <div class="image-left">
                                <img alt="image" src='/static/image/portrait.png' class="img-circle" height="50" width="50" />
                            </div>
                            <div class="image-right">
                                <span class="block m-t-xs">admin</span>
                                <span class="text-xs block">技术部</span>
                            </div>
                        </div>
                    </li>
                    {% for menutemp in infos  %}
                    {% if menutemp.ParentId ==0 %}
                        {% if loop.first %}
                          
                            <li data-1 data-type="menu">
                                {%if menutemp.MenuUrl|default('')!='' %}
                                <a data-2 class="menuItem" href="{{menutemp.MenuUrl|default('')}}">
                                    <i class="{{menutemp.MenuIcon}}"></i>
                                    <span class="nav-label">{{menutemp.MenuName}}</span>
                                </a>
                                {%else %}
                                <a data-2 href="#">
                                    <i class="{{menutemp.MenuIcon}}"></i>
                                    <span class="nav-label">{{menutemp.MenuName}}</span>
                                    <span class="fa arrow"></span>
                                </a>
                                {% endif %}
                                <ul data-2 class="nav nav-second-level collapse" data-type="menu">
                        {%else %}
                                </ul>
                            </li> 
                            <li data-1 data-type="menu">
                                {%if menutemp.MenuUrl|default('')!='' %}
                                    <a data-2 class="menuItem" href="{{ menutemp.MenuUrl or ''}}">
                                        <i class="MenuIcon"></i>
                                        <span class="nav-label">{{menutemp.MenuName}}</span>
                                    </a>
                                {%else %}
                                    <a data-2 href="#">
                                        <i class="{{menutemp.MenuIcon}}"></i>
                                        <span class="nav-label">{{menutemp.MenuName}}</span>
                                        <span class="fa arrow"></span>
                                    </a>
                                {% endif %}
                                <ul data-2 class="nav nav-second-level collapse" data-type="menu"> 
                        {% endif %}
                    {% elif  menutemp.MenuType  ==2 %}
                   
                                    <li data-3 data-type="menu">
                                        {%if menutemp.MenuUrl|default('')!='' %}
                                            <a class="menuItem" href=''>{{menutemp.MenuName}}</a>
                                        {%else %}
                                            <a class="menuItem" href="#" data-url=''>{{menutemp.MenuName}}</a>
                                        {% endif %}
                                    </li>
        
                    {% endif %}
                {% endfor %}

                    
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <a class="navbar-minimalize minimalize-styl-2" href="#" title="收起菜单">
                        <i class="fa fa-bars"></i>
                    </a>
                    <ul class="nav navbar-top-links navbar-right welcome-message">
                        <li><a id="db" onclick="ShowFinish()">待办事项&nbsp;<label class="label label-info" id="sl">0</label></a></li>
                        <li><a id="fullScreen"><i class="fa fa-arrows-alt"></i>全屏</a></li>
                        <li class="dropdown user-menu">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-hover="dropdown">
                                <img src="/static/image/portrait.png" class="user-image">
                                <span class="hidden-xs">admin</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="mt5">
                                    <a class="menuItem" href="#" data-url='@Url.Content("~/OrganizationManage/User/UserDetail")?id=@operatorInfo.UserId'>
                                        <i class="fa fa-user"></i> 个人中心
                                    </a>
                                </li>
                                <li>
                                    <a onclick="showChangePasswordForm()">
                                        <i class="fa fa-key"></i> 修改密码
                                    </a>
                                </li>
                                <li>
                                    <a onclick="showSwitchSkinForm()">
                                        <i class="fa fa-dashboard"></i> 切换主题
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/Home/LoginOff"">
                                        <i class="fa fa-sign-out"></i> 退出登录
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active menuTab" data-id="/system/main">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">
                        页签操作<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li><a class="tabCloseCurrent" href="#">关闭当前</a></li>
                        <li><a class="tabCloseOther" href="#">关闭其他</a></li>
                        <li><a class="tabCloseAll" href="#">全部关闭</a></li>
                    </ul>
                </div>
                <a href="#" class="roll-nav roll-right tabReload"><i class="fa fa-refresh"></i> 刷新</a>
            </div>
            <div class="row mainContent" id="content-main">

                <iframe class="WMP_iframe" name="iframe0" width="100%" height="100%" data-id="/system/main" src="/cms/menus/1" frameborder="0" seamless></iframe>
            </div>
        </div>
        <!--右侧部分结束~/Home/Welcome -->
    </div>


    {% endblock %}