{% extends "share/_Index.html" %}
{% block content %}
<div class="container-div">
    <div class="row">
        <form id="form" style="background-color: rgba(255,255,255,0.5);" method="post">
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
            <div id="searchDiv" class="col-sm-12 search-collapse">
                <div class="select-list">
                    <ul>
                        <li>
                            登录名称：<input id="userName" col="UserName" type="text" />
                        </li>
                        <li>
                            &nbsp;&nbsp;&nbsp;&nbsp;Ip地址：<input id="ipAddress" col="IpAddress" type="text" />
                        </li>
                        <!-- <li>
                        登录状态：<span id="logStatus" col="LogStatus"></span>
                    </li> -->
                        <li class="select-time">
                            <label>登录时间： </label>
                            <input id="startTime" col="StartTime" type="text" class="time-input" placeholder="开始时间" />
                            <span>-</span>
                            <input id="endTime" col="EndTime" type="text" class="time-input" placeholder="结束时间" />
                        </li>
                        <li>
                            <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="btn-group-sm" id="toolbar">
            <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> 删除</a>
            <a id="btnDelete" class="btn btn-danger" onclick="removeAllForm()"><i class="fa fa-trash"></i> 清空</a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        initGrid();


        $("#roleStatus").ysComboBox({ data: ys.getJson([{ Key: 1, Value: "激活" }, { Key: 2, Value: "冻结" }]) });

        laydate.render({ elem: '#startTime', format: 'yyyy-MM-dd' });
        laydate.render({ elem: '#endTime', format: 'yyyy-MM-dd' });
    });

    function initGrid() {
        var queryUrl = '/cms/GetLogListJson';
        $('#gridTable').ysTable({
            url: queryUrl,
            sortName: 'RoleSort',
            sortOrder: 'Asc',
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'UserId', title: '登录名称', width: "5%", sortable: true },
                { field: 'IpAddress', title: 'ip地址', width: "5%", sortable: true },
                { field: 'IpLocation', title: 'Ip位置', width: "15%", sortable: true },
                { field: 'Browser', title: '浏览器', width: "15%", sortable: true },
                { field: 'OS', title: '操作系统', width: "15%", sortable: true },
                { field: 'Remerk', title: '操作信息', width: "5%", sortable: true },
                {
                    field: 'Status', title: '状态', width: "5%",
                    formatter: function (value, row, index) {
                        if (value == "1") {
                            return '<span class="badge badge-primary">' + "激活" + '</span>';
                        }else
                        {
                            return '<span class="badge badge-warning">' + "冻结" + '</span>';
                        }
                    }
                },
                {
                    field: 'CreateTime', title: '创建时间', formatter: function (value, row, index) {
                        return ys.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                    }
                }
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $("#searchDiv").getWebControls(pagination);
                return queryString;
            }
        });
    }
    
    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $("#gridTable").bootstrapTable("getSelections");
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        ys.openDialog({
            title: id > 0 ? "编辑角色" : "添加角色",
            content: '/cms/RoleForm")' + '?id=' + id,
            width: "780px",
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function deleteForm() {
        var selectedRow = $("#gridTable").bootstrapTable("getSelections");
        if (ys.checkRowDelete(selectedRow)) {
            ys.confirm("确认要删除选中的" + selectedRow.length + "条数据吗？", function () {
                var ids = ys.getIds(selectedRow);
                var csrf_token = $("#csrf_token").val()
                ys.ajax({
                    url: '/cms/DeleteLogJson',
                    type: "post",
                    data: {
                        ids: ids,
                        csrf_token: csrf_token
                    },
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            searchGrid();
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }
</script>
{% endblock %}