{% extends "share/_FormWhite.html" %}
{% block content  %}
<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
{#        @Html.AntiForgeryToken()#}
        <input type="hidden" id="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
            <label class="col-sm-3 control-label ">登录名称</label>
            <div class="col-sm-8">
                <input id="userName" col="UserName" type="text" class="form-control" readonly="readonly" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">密码</label>
            <div class="col-sm-8">
                <input id="passWord" col="PassWord" type="password" class="form-control" />
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    $(function () {
        getForm(id);

        $("#form").validate({
            rules: {
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 20
                }
            }
        });
    });

    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '/cms/GetUserFormJson' + '?id=' + id,
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var result = obj.Data;
                        result.Password = "";
                        $("#form").setWebControls(result);
                    }
                }
            });
        }
    }

    function saveForm(index) {
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
              var __RequestVerificationToken = $("input[name='__RequestVerificationToken']").val();
            postData.__RequestVerificationToken = __RequestVerificationToken;
            postData.Password =
            postData.csrf_token=$("#csrf_token").val()
            ys.ajax({
                url: '/cms/ResetUserPasswordJson',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>

{% endblock %}

