<style> 
/* 分页样式一 */
.pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Allerta Stencil', sans-serif;
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link{
    color: #fff;
    background: transparent;
    font-size: 21px;
    line-height: 35px;
    height: 38px;
    width: 38px;
    padding: 0;
    margin: 0 8px;
    border: none;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease 0s;
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover{
    color: #fff;
    background-color: transparent;
}
.pagination li a.page-link:before,
.pagination li a.page-link:after{
    content:'';
    background: linear-gradient(225deg,#f857a6,#ff5858);
    height: 100%;
    width: 100%;
    border: 3px solid #fff;
    box-shadow: 0 0 3px #000;
    border-radius: 50%;
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: all 0.3s ease-in;
}
.pagination li a.page-link:hover:before,
.pagination li.active a.page-link:before{
    border-radius: 50% 0 50% 50%;
}
.pagination li a.page-link:after{
    background: #fff;
    height: 5px;
    width: 5px;
    border: none;
    box-shadow: 0 0 0 transparent;
    opacity: 0;
    transform: translateX(-50%) translateY(0) rotate(0);
    top: auto;
    bottom: 0;
}
.pagination li a.page-link:hover:after,
.pagination li.active a.page-link:after{
    opacity: 1;
    bottom: 85%;
}
.pagination li:first-child a.page-link:before{
    transform: translateX(-50%) translateY(-50%) rotate(-135deg);
}
.pagination li:first-child a.page-link:hover:before{ border-radius: 50% 0 50% 50%; }
.pagination li:first-child a.page-link:after{
    transform: translateX(0) translateY(-50%);
    top: 50%;
    bottom:auto;
    left: auto;
    right: 0;
 }
.pagination li:first-child a.page-link:hover:after{ right: 80%; }
.pagination li:last-child a.page-link:before{
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.pagination li:last-child a.page-link:hover:before{ border-radius: 50% 0 50% 50%; }
.pagination li:last-child a.page-link:after{
    transform: translateX(0) translateY(-50%);
    bottom:auto;
    top: 50%;
    left: 0;
}
.pagination li:last-child a.page-link:hover:after{ left: 80%; }
@media only screen and (max-width: 480px){
    .pagination{ display: block; }
 
    .pagination li{
        margin-bottom: 10px;
        display: inline-block;
    }
}       
 
/* 分页样式二 */
.pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Rubik', sans-serif;
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link{
    color: #10ac84;
    background-color: transparent;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    height: 40px;
    width: 40px;
    margin: 0 5px 10px;
    border: none;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease 0s;
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover{
    color: #fff;
    background-color: #10ac84;
}
.pagination li:first-child a.page-link:hover,
.pagination li:last-child a.page-link:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.pagination li a.page-link:before{
    content: attr(data-hover);
    color: rgba(255,255,255,0.2);
    font-size: 80px;
    font-weight: 700;
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:hover:before,
.pagination li.active a.page-link:before{
    opacity: 1;
    top: 10px;
}
@media only screen and (max-width: 480px){
    .pagination{ display: block; }
    .pagination li{
        margin-bottom: 10px;
        display: inline-block;
    }
}
</style>
</head>
<body>
    <table border="1">
        <tr>
            <th width="100px">序号</th>
            <th width="200px">书名</th>
            <th width="300px">作者</th>
        </tr>
        {% for book in infos %}
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.name}}</td>
                <td>{{book.author_id}}</td>
            </tr>
        {% endfor %}
    </table>
 
{%import 'share/pages.html' as pg%}
{{pg.my_paginate(pagination,'testlist')}}
</body>
</html>